<div class="row">
  <div class="col-12 landing-effect">
    <a class="nav-link pl-0" routerLink="/heroes">
      <img class="mt-5 mx-auto d-block" src="/assets/images/home-page.png" alt="landing">
      <button class="btn btn-danger">
          <h1 class="textlight mt-2" style="text-shadow: 0px 3px 6px #FFD700"><em>Prepare for the fight</em></h1>
      </button>
    </a>
  </div>
  <audio controls autoplay class="d-none">
      <source src="/assets/audio/landing-music.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>