.clickable {
    cursor: pointer;
}

div > span, h3, label, p {
    color: #fff;
}

.img-container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 300px; /* Full width */
    padding: 20px; /* Some padding */
    z-index: 2;
    top: 200px;
    left: 0px;
    height: 220px;
}

.img-container img {vertical-align: middle;}

.img-container  {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
}

.avatar-frame
{
	position:absolute;
	top: -25px;
	left: -36px;
	z-index: 3;
}

.hero-avatar
{
	position:absolute;
	top: 25px;
	z-index: 1;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}